@import url('https://fonts.googleapis.com/css2?family=Rubik:ght@300;400;500;600;700&display=swap');

/* general */
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    color: #000;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(193, 75, 226, 0.863);
    border-radius: 20px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 82, 119, 0.863);
}

.purple-button {
    width: fit-content;
    border-radius: .4rem;
    background-color: #c04ae2;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    padding: 20px 45px;
}

.transparent-button {
    width: fit-content;
    border: 3px solid #ff5277;
    border-radius: .4rem;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    margin-right: 19px;
}

.purple-button:hover {
    background-color: #fe6686;
    box-shadow: #fe6686 0px 2px 16px 0px;
}

.transparent-button:hover {
    border-color: #ff5277;
    box-shadow: #ff5277 0px 2px 16px 0px;
}

/* section */
.section {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}

.section-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 700px;
    font-weight: 600;
}

.section-subtitle {
    font-size: 19px;
    color: #c04ae2;
    letter-spacing: 4.7px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

.section-title {
    font-size: 43px;
    font-weight: 700;
    line-height: 1.5;
}

/* header */
.header {
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    position: relative;
    font-weight: 700;
    margin-right: 150px;
}

.logo-img {
    height: 30px;
}

.logo-background {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.nav-link {
    display: inline-block;
    position: relative;
    margin-right: 19px;
}

.nav-link:hover {
    color: #ff9f46;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    top: 20px;
    border-bottom: 3px solid #ffaa5b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-link-img {
    margin-right: 15px;
}

.nav-link img {
    height: 25px;
}

/* fixed header */
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ce8fe0ee;
}

.header.fixed .transparent-button {
    color: #fff;
}

.header.fixed .header-logo {
    margin-right: 250px;
    margin-bottom: 30px;
}

.fixed .menu .nav-link {
    color: #fff;
}

.fixed .menu .nav-link:hover {
    color: #fff;
}

.header.fixed .logo-background {
    display: block;
    position: absolute;
    background-color: #fff;
    height: 25px;
    width: 30px;
    top: 2px;
}

.header.fixed .logo-img {
    position: absolute;
    height: 30px;
    z-index: 1;
}

/* intro */
.intro {
    height: fit-content;
    background-image: url("../images/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px;
}

.intro .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content {
    width: 450px;
    margin-top: 200px;
    margin-right: 550px;
    line-height: 1.2;
}

.intro-title {
    font-size: 65px;
    font-weight: 600;
}

.intro-subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    color: #5e5858;
    margin: 7% 0 12%;
}


/* about */

/* about-top */
.about {
    height: fit-content;
    background-image: url("../images/business-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

.about-top {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.section-item {
    width: 230px;
    padding: 60px 35px;
    text-align: center;
    border: 5px solid #ffcdd7;
    border-radius: 15px;
    margin: 0 13px;
}

.about-item:nth-child(2) {
    border-color: #c1f2de;
}

.about-item:nth-child(3) {
    border-color: #efcfb1;
}

.section-item-img img {
    height: 65px;
}

.section-item-title {
    font-size: 23px;
    font-weight: 600;
    line-height: 1.5;
    margin: 30px 0 20px 0;
}

.section-item-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: #5e5858;
}

/* about-bottom */
.about-bottom {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.about-bottom-content {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin: 0 150px;
    margin-top: 20px;
}

.about-bottom-title {
    line-height: 1.3;
}

.about-text {
    line-height: 1.5;
    color: #5e5858;
    font-weight: 600;
    margin: 20px 0 30px 0;
}

.about-bottom-subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-content-text {}

.about-bottom-button {
    font-size: 14px;
    letter-spacing: 1px;
}

.about-bottom-photos {
    display: flex;
    width: 550px;
}

.about-bottom-photos img {
    height: 340px;
}

.clock-photo {}

.team-photo {
    position: absolute;
    margin-top: 80px;
    margin-left: 280px;
}

/* service */
.service {
    height: fit-content;
    background-image: url("../images/3.jpg");
    background-size: cover;
    padding-bottom: 60px;
}

.service .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.service-header {
    text-align: right;
    padding-left: 225px;
}

.service-title {}

.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}

.services-group {
    display: flex;
    flex-direction: column;
}

.services-group:nth-child(2) {
    margin-top: 70px;
}

.services-group:nth-child(3) {
    margin-top: 150px;
}

.service-item {
    padding: 60px 20px;
    background-color: #fff;
    border: none;
    margin: 0 14px 25px;
    width: 250px;
    box-shadow: rgba(14, 30, 37, 0.249) 0px 2px 16px 0px;
}

.service-item:hover {
    box-shadow: rgb(193, 74, 226) 0px 2px 16px 0px;
}

.service-img img {
    height: 55px;
}

.service-item-title {
    font-size: 22px;
    margin: 20px 0;
}

.service-item-text {
    font-size: 16px;
}

.service-item-arrow-img {
    margin-top: 30px;
    /* margin-bottom: ; */
}

.service-item-arrow-img img {
    height: 18px;
}

/* works */
.works {
    height: fit-content;
    background-image: url("../images/4.jpg");
    padding-bottom: 60px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 120px 70px;
}

.project:nth-child(2) {
    flex-direction: row-reverse;
    margin-left: 165px;
}

.project:nth-child(2) .project-img {
    margin-left: 90px;
}

.project:nth-child(2) .project-img::before {
    border: 6px solid #c9f3e2;
    border-radius: 15px;
    z-index: 1;
}

.project:nth-child(2) .project-img img {
    transform: translate(-50px, 15px);
}

.project:nth-child(2) .project-subtitle {
    color: #54d6a1;
}

.project:nth-child(3) {
    margin-bottom: 0px;
}

.project:nth-child(3) .project-subtitle {
    color: #fe9a3f;
}

.project:nth-child(3) .project-img::before {
    border: 6px solid #f2d5ba;
    z-index: 1;
}

.project:nth-child(3) .project-img img {
    transform: translate(10px, 10px);
}

.project-img {
    position: relative;
    margin-right: 130px;
}

.project-img::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    border: 6px solid #fcd7df;
    border-radius: 15px;
}

.project-img img {
    display: block;
    height: 350px;
    padding: 6px;
    transform: translate(20px, 20px);
}

.project-content {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.project-subtitle {
    color: #fe6686;
    margin: 0 0 10px 0;
}

.project-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    width: 80%;
}

.project-text {
    color: #5e5858;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    margin: 30px 0 40px 0;
    width: 500px;
}

.project-button {
    padding: 15px 40px;
}

.slash {
    font-size: 25px;
}

.underline-text {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
    font-weight: 600;
    font-size: 15px;
}

.underline-text a {
    display: inline-block;
    position: relative;
    border-bottom: 3px solid #c04ae2;
    padding-bottom: 8px;
}

.underline-text a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    top: 25.5px;
    border-bottom: 3px solid #ffaa5b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline-text a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* team */
.team {
    height: fit-content;
    background-image: url("../images/teamAndQuotes.jpg");
    padding-bottom: 5%;
}

.team-header {
    margin-top: 50px;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.member {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
}

.member:nth-child(even) {
    margin-top: 100px;
}

.member-img {
    height: 250px;
}

.member-name {
    margin-top: 35px;
}

.member-position {
    color: #999999;
    font-size: 14px;
    margin-top: 15px;
}

/* testimonials */
.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
    margin-right: 100px;
}

.testimonial-left {
    display: flex;
    margin-right: 150px;
    margin-top: 150px;
}

.quote-img img{
    height: 60px;
    margin-right: 50px;
}

.testimonial-content {
    width: 460px;
}

.testimonial-text {
    color: #7a7a7a;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    margin-top: 50px;
}

.customers {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.line {
    margin: 0 20px 0 0;
    width: 15px;
    height: 2.5px;
    background-color: #844ae2;
    border-radius: 100px;
}

.customer-job {
    font-size: 14px;
    margin-top: 3px;
    margin-left: 20px;
    color: #9c999acf;
}

.testimonial-buttons {
    display: flex;
    margin-top: 50px;
}

.testimonial-button {
    display: inline;
    background-color: #c04ae2;
    transition: .5s;
    border-radius: 50%;
    border-color: transparent;
    cursor: pointer;
    margin-right: 15px;
    padding: 5px;
}

.active-testimonial-button {
    border-radius: 10px;
    padding-right: 25px;
    transition: .5s;
}

.testimonials-img {
    /* margin-right: 270px;
    margin-top: 4%; */
}

.testimonials-img img {
    height: 500px;
}

/* contact */
.contact {
    height: fit-content;
    background-image: url("../images/contacts.jpg");
    background-size: cover;
    padding-top: 0;
    padding-bottom: 5%;
}

.contact .section-header {
    padding-top: 150px;
    width: 600px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin-top: 100px;
    margin-right: 100px;
}

.form-title {
    margin-bottom: 50px;
    font-size: 32px;
}

.form-input,
textarea {
    border: none;
    resize: none;
    font-size: 16px;
    background-color: #fff;
    color: gray;
    box-shadow: rgba(14, 30, 37, 0.07) 0px 2px 4px 0px, rgba(14, 30, 37, 0.16) 0px 2px 16px 0px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 7px;
}

.form-input:focus,
textarea:focus {
    outline: none;
    box-shadow: rgba(193, 74, 226, 0.596) 0px 2px 16px 0px;
}

.contact-form textarea {
    padding-bottom: 70px;
}

.form-purple-button {
    margin-top: 0;
    width: fit-content;
    border: none;
    cursor: pointer;
}

.contacts {
    width: 450px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-top: 100px;
}

.contact-text {
    margin-bottom: 35px;
    color: #8a8a8a;
    font-weight: 600;
    font-size: 19px;
    line-height: 1.5;
}

.contact-info {
    padding: 0 150px 0 0;
}

.contact-item {
    display: flex;
}

.contact-item-img {
    height: 42px;
    margin-right: 20px;
    margin-top: 5px;
}

.contact-item-content {
    margin-bottom: 25px;
}

.contact-item-title {
    margin-bottom: 7px;
}

.contact-item-text {
    color: #8a8a8a;
    font-weight: 600;
    line-height: 1.5;
}

/* blog */
.blog {
    height: fit-content;
    background-image: url("../images/8.jpg");
    background-size: cover;
    padding-bottom: 150px;
}
.section-header--blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
}

.header-blog {
    text-align: left;
    margin-right: 450px;
}

.blog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.blog-content-item {
    border: 1px solid rgba(0, 139, 139, 0.4);
    border-radius: 15px;
    padding: 25px 15px 25px 25px;
    width: 250px;
    margin: 0 12px;
}

.blog-content-item:hover {
    background-color: #fff;
    border-color: transparent;
}

.blog-content-item-subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fe6686;
}

.blog-content-item:nth-child(2) .blog-content-item-subtitle {
    color: #54d6a1;
}

.blog-content-item:nth-child(3) .blog-content-item-subtitle {
    color: #fe9a3f;
}

.blog-content-item-title {
    margin-bottom: 30px;
}

.blog-content-item-text {
    color: #7a7a7a;
    margin-bottom: 35px;
    line-height: 1.5;
    font-weight: 600;
}

.blog-content-item-author {
    display: flex;
    margin-bottom: 15px;
}

.author-content {
    display: flex;
    align-items: center;
}

.author-name {
    font-size: 17px;
    margin: 0 55px 0 10px;
}

.likes-img {
    margin-right: 10px;
    height: 14px;
}

.likes-amount {
    color: #9c999a;
    font-size: 15px;
}

/* footer */
.footer {
    padding: 140px 0 40px 0;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 135px;
    width: 320px;
}

.footer-left img {
    width: 100px;
}

.footer-left-text {
    margin: 30px 0;
    line-height: 1.5;
    color: #7a7a7a;
}

.footer-submit-input {
    border: none;
    background: url('../images/submit-email.png') no-repeat 93%;
    background-size: 20px;
    background-color: #95f1ff2c;
    color: #999999;
    padding: 20px;
    border-radius: 6px;
    width: 250px;
}

.footer-submit-input:focus {
    outline: none;
    box-shadow: rgba(193, 74, 226, 0.596) 0px 2px 16px 0px;
}

.footer-right {
    display: flex;
    justify-content: center;
}

.footer-item {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-top: 35px;
}

.footer-item-title {
    margin-bottom: 22px;
    font-size: 20px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
}

.footer-nav-link {
    margin-bottom: 5px;
    color: #7a7a7a;
    line-height: 1.5;
}

.footer-menu-item:hover {
    color: #c04ae2;
}

.footer-item:nth-child(3) .footer-nav-link {
    display: flex;
    justify-content: left;
    align-items: baseline;
    width: 270px;
}

.footer-nav-link img {
    height: 13px;
    margin-right: 20px;
}

.footer-pointer-img {
    padding-right: 2%;
}

.footer-nav {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 14px;
}

.footer-links {
    display: flex;
    align-items: center;
    margin-right: 420px;
}

.footer-links h4 {
    margin-right: 30px;
}

.footer-social-networks {
    display: inline-block;
    position: relative;
    margin: 0 7px;
}

.footer-social-networks::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    top: 25.5px;
    border-bottom: 3px solid #ffaa5b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.footer-social-networks:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer-social-networks img {
    height: 22px;
}

.footer-author {
    color: #7a7a7a;
}

.footer-author b {
    color: #000;
}

.display-none {
    display: none;
}

.input-error,
.input-error:focus {
    box-shadow: rgba(255, 0, 0) 0px 2px 16px 0px;
    border: 2px solid rgb(255, 0, 0);
}

/* media */
/* @media(max-width: 1511px){
    .nav-link {
        color: #54d6a1;
    }
} */